{% extends 'Base.html' %}
{% load social_share %}


{% block title %}
posts
{% endblock title %}

{% block content %}

{% for data in post_profile_data reversed %}
<div>
    <a href="{% url 'creator_profile' data.post.user.id %}">{{ data.post.user.username }}</a>

    {% if data.creator_profile and data.creator_profile.profile_picture %}
    <img src="{{ data.creator_profile.profile_picture.url }}" width="100" alt="Profile Picture">
    {% else %}
   <div style="width: 200px; border-radius:50%; ">
    hi
   </div>
    {% endif %}

    {% if data.post.media %}

    <img src="{{ data.post.media.url }}" width="200" alt="Post Media">
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster=""
    data-setup="{}"
  >
    <source src="{{ data.post.media.url }}" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="{{ data.post.media.url }}" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
    <a href="{{ data.post.media.url }}" download="">download</a>
    {% endif %}

    <p><a href="{% url 'posts_detail' data.post.id %}">{{ data.post.content|truncatewords:6 }}</a></p>
    <p>{{ data.post.created_at|timesince }} ago</p>
    <a href="{% url 'saved_post' data.post.id %}">save post</a>
    <hr>




    {% empty %}
    <p>No posts found.</p>
    {% endfor %}

</div>


<hr>


{% endblock content %}