{% extends 'Base.html' %}

{% block title %}
    {{ profile.user.username }}
{% endblock title %}

{% block content %}
    <h2>{{ profile.user.username }}</h2>
    <p>{{ profile.user.email }}</p>
    <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    
    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="100">
    {% endif %}
    
    <p>{{ profile.bio }}</p>
    <p>Contact: {{ profile.contact_info }}</p>
    <p>Phone: {{ profile.phone_number }}</p>

    <!-- Follow/Unfollow Button and Follower Count -->
    {% if user.is_authenticated %}
        <form action="{% url 'follow_user' profile.user.id %}" method="POST">
            {% csrf_token %}
            {% if user in profile.followers.all %}
                <button type="submit" class="btn btn-danger">Unfollow</button>
            {% else %}
                <button type="submit" class="btn btn-success">Follow</button>
            {% endif %}
        </form>
        <p>{{ profile.total_followers }} Follower{{ profile.total_followers|pluralize }}</p>
        <p>Following {{ profile.total_following }} users</p>
        <a href="{% url 'chat:room' room_name=profile.user.username|add:'_'|add:user.username %}">
            say hi
        </a>

        
    {% endif %}

    <!-- List of Posts -->
    <h3>Posts</h3>
    {% for post in post %}
        <div>
            <a href="{% url 'posts_detail' post.id %}">{{ post.content }}</a>
            <p>{{ post.media }}</p>
            <p>{{ post.created_at }}</p>
        </div>
    {% endfor %}

    <!-- Followers List -->
    <h4>Followers:</h4>
    {% if profile.followers.all %}
        <ul>
            {% for follower in profile.followers.all %}
                <li><a href="{% url 'creator_profile' follower.id %}">{{ follower.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No followers yet.</p>
    {% endif %}

    <!-- Following List -->
    <h4>Following:</h4>
    {% if profile.user.following.all %}
        <ul>
            {% for following in profile.user.following.all %}
                <li><a href="{% url 'creator_profile' following.id %}">{{ following.user.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not following anyone yet.</p>
    {% endif %}
{% endblock content %}
